@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Start CKEditor */
.ck-powered-by {
    display: none !important;
}
/* End CKEditor */

/* Start CoreUI Style */
.btn-logout-sidebar:hover {
    background-color: red;
}

.wrapper {
    width: 100%;
    will-change: auto;
    transition: padding 0.15s;
}

html:not([dir="rtl"]) .wrapper {
    padding-left: var(--cui-sidebar-occupy-start, 0);
}

*[dir="rtl"] .wrapper {
    padding-right: var(--cui-sidebar-occupy-start, 0);
}

@media (prefers-reduced-motion: reduce) {
    .wrapper {
        transition: none;
    }
}

.sidebar {
    background-color: #040448;
}

.sidebar-brand {
    background-color: #000088;
}

.sidebar-nav .nav-item .nav-link,
.sidebar-nav .nav-group .nav-link {
    color: white;
    font-weight: 400;
}

.sidebar-nav .nav-icon .active,
.sidebar-nav .nav-item .active {
    background-color: #0f2a72;
    color: white;
    font-weight: bold;
}

#sidebar .sidebar-nav::-webkit-scrollbar {
    width: 10px;
}

#sidebar .sidebar-nav::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 6px;
}

#sidebar .sidebar-nav::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

/* End CoreUI Style */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* You can add more @font-face declarations for different weights and styles of the font if needed */
/* Example usage of the font */
body {
    font-family: "Barlow", sans-serif;
}

.bg-page-utama {
    background-color: #000088 !important;
}

.bg-header-footer {
    background-color: #0000cc !important;
}

.bg-tabel {
    background-color: #000044 !important;
}

.bg-btn-green {
    background-color: #00ff91 !important;
}

.bg-btn-orange {
    background-color: #ff4040 !important;
}

.active-btn-green {
    background-color: #00ff91 !important;
    color: black !important;
    font-weight: bold !important;
    border: 2.5px solid transparent !important;
}

.non-active-btn-green {
    border: 2.5px solid #00ff91 !important;
    color: #00ff91 !important;
}

.active-conversation {
    background-color: #00ff91 !important;
    color: black !important;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-conversation:hover {
    background-color: #00ff914c !important;
    color: black !important;
    cursor: pointer;
    transition: all 0.5s;
}

/* Start Button File Image */
.btn-image-file {
    background-color: #00ff91;
}
.btn-image-file:hover {
    box-shadow: none;
    border-color: #00ff91;
}
/* End Button File Image */
